/* 🎨 Estilos personalizados para DataTables */

/* General de botones */
.dt-button {
    background-color: #efe7dd; 
    margin-left: 10px !important;
    border-radius: 20px !important;
    padding: 10px 30px 10px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease-in-out;
}

.dt-button:hover {
    background-color: #cdd4df !important; /* hover azul */
}

/* Colores por tipo */
.buttons-copy {
    background-color: #4b5563; /* gris */
}
.buttons-copy:hover {
    background-color: #374151;
}

.buttons-csv {
    background-color: #16a34a; /* verde */
}
.buttons-csv:hover {
    background-color: #15803d;
}

.buttons-excel {
    background-color: #059669; /* emerald */
}
.buttons-excel:hover {
    background-color: #047857;
}

.buttons-pdf {
    background-color: #dc2626; /* rojo */
}
.buttons-pdf:hover {
    background-color: #b91c1c;
}

.buttons-print {
    background-color:#7A4B32; 
}
.buttons-print:hover {
    background-color: #7A4B32;
}

#producto_filter input {
    border-radius: 50px !important;
    cursor: pointer !important;
    border: solid 1px black !important;
    width: 400px !important;
}
#producto_filter.dataTables_filter {
    padding-right: 20px !important;
}


